@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Colors from https://www.materialpalette.com/blue-grey/blue */
:root {
  --dark-primary-color: #455a64;
  --light-primary-color: #cfd8dc;
  --primary-color: #607d8b;
  --text-icons: #ffffff;
  --accent-color: #448aff;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #bdbdbd;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

.navbar {
  flex: 0 0 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.navbar-header-container {
  color: var(--text-icons);
  text-align: left;
  flex: 1 0 0;
}

.navbar-header-container h1 {
  background-color: var(--dark-primary-color);
  width: fit-content;
  padding: 10px 0;
  padding-left: 30px;
  padding-right: 20px;
}

.navbar-links-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 0;
  padding-right: 20px;
}

.navbar-links {
  display: flex;
}

.navbar-links li {
  padding: 5px 0;
  margin: 0 5px;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--light-primary-color);
  padding: 5px 10px;
  border-bottom: 3px solid var(--dark-primary-color);
}

.navbar-links li a:hover {
  color: var(--text-icons);
  border-color: var(--light-primary-color);
}
